.super_container{
  background-color: #505677;
}
.header_content{
  background-color: #505677;

}
.main_nav{
  background-color: #505677;

}
.main_nav_container_outer{
  background-color: #505677;

}
.logo_container{
  background-color: #505677;

}
.row{
  background-color: #505677;

}
.col{
  background-color: #505677;
}
.trans_400{
  background-color: #505677;

}
